@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.cita-card {
  position: relative;
  margin-bottom: 20px;
}

.cita-detalles {
  background-color: azure;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

